@import "../../../styles/colors.scss";
.headText {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  i {
    color: $green;
  }
  a {
    color: $green;
  }
}

@media (max-width: 600px) {
  .headText {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .headText {
    transform: translateY(-50px);
    font-size: 1.5rem;
    button {
      margin-top: 5px;
    }
  }
}

@media (max-width: 420px) {
  .headText {
    transform: translateY(-50px);
    font-size: 1.2rem;
    button {
      transform: scale(0.7);
      margin-top: 5px;
    }
  }
}
