.summary {
  margin-bottom: 100px;
  .cost {
    margin-top: 15px;
    .price {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      p {
        text-transform: capitalize;
      }
      a {
        flex-grow: 1;
        text-align: right;
        font-weight: 500;
      }
    }
  }
  .head {
    display: flex;
    align-items: center;
    a {
      flex-grow: 1;
      cursor: pointer;
      text-align: right;
      text-decoration: underline;
    }
  }
}

@media (max-width: 830px) {
  .summary {
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}
