.wrapper {
  text-align: center;
  margin-top: 50px;
  input {
    width: 400px;
  }
  button {
    margin-top: 10px;
    width: 400px;
  }
  .status {
    margin-top: 10px;
    a {
      color: green;
    }
  }
  margin-bottom: 100px;
}
