.wrapper {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  .footer {
    background-color: #3a130c;
    padding-bottom: 25px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .footerChild {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .footerDescription {
      padding-right: 20px;
      border-right: 1px solid #b9b8ab;
    }
  }
}

@media (max-width: 1100px) {
  .wrapper {
    font-size: 0.9rem;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    .footer {
      .footerChild {
        font-size: 0.8rem !important;
      }
    }
  }
}

@media (max-width: 760px) {
  .wrapper {
    .footer {
      .footerChild {
        font-size: 0.8em !important;
      }
      .footerDescription {
        padding-left: 5px;
        padding-right: 5px;
        border-right: 0px solid #b9b8ab;
      }
    }
  }
}

@media (max-width: 693px) {
  .wrapper {
    .footer {
      padding-bottom: 25px;
      .footerChild {
        font-size: 0.6em !important;
      }
      .footerDescription {
        padding-left: 5px;
        padding-right: 5px;
        border-right: 0px solid #b9b8ab;
      }
    }
  }
}

@media (max-width: 561px) {
  .wrapper {
    .footer {
      .footerDescription {
        display: none;
      }
    }
  }
}
