.footerPlant {
  margin-top: 50px;
  span {
    overflow: visible !important;
  }
  img {
    transform: scale(2) translateY(-10px);
    width: 50px;
    height: 90px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  .plantDescription {
    margin-left: 45px;
    a {
      color: #d64c01;
    }
  }
}

.plantL {
  display: none;
}
.plantM {
  display: none;
}
.plantS {
  display: none;
}
@media (max-width: 1000px) {
  .footerPlant {
    .plantDescription {
      font-size: 0.8rem;
      margin-left: 25px;
      a {
        font-size: 0.7rem;
        color: #d64c01;
      }
    }
  }
  .plantXL {
    display: none;
  }
  .plantL {
    display: block;
  }
  .plantS {
    display: none;
  }
}

@media (max-width: 760px) {
  .footerPlant {
    .plantDescription {
      font-size: 0.7rem;
      margin-left: 15px;
      a {
        font-size: 0.6rem;
        color: #d64c01;
      }
    }
  }
  .plantXL {
    display: none;
  }
  .plantL {
    display: block;
  }
  .plantS {
    display: none;
  }
}

@media (max-width: 693px) {
  .footerPlant {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    .plantDescription {
      font-size: 0.5rem;
      margin-left: 15px;
      a {
        font-size: 0.4rem;
        color: #d64c01;
      }
    }
  }
  .plantXL {
    display: none;
  }
  .plantL {
    display: none;
  }
  .plantS {
    transform: translateY(10px);
    display: block;
  }
}

@media (max-width: 432px) {
  .footerPlant {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
    .plantDescription {
      font-size: 0.6em;
      margin-left: 15px;
      a {
        font-size: 0.5rem;
        color: #d64c01;
      }
    }
  }
  .plantXL {
    display: none;
  }
  .plantL {
    display: none;
  }
  .plantS {
    transform: translateY(10px) scale(0.7);
    display: block;
  }
}

@media (max-width: 397px) {
  .footerPlant {
    margin-top: 5px;
    .plantDescription {
      font-size: 0.4rem;
      margin-left: 10px;
      a {
        font-size: 0.3rem;
        color: #d64c01;
      }
    }
  }
  .plantS {
    transform: translateY(10px) scale(0.7);
  }
}
