@import "../../../styles/colors.scss";
.adventageRight {
  position: absolute;
  right: 0%;
  transform: translateX(50%);
  svg {
    background-color: $green;
    color: white;
    padding: 5px;
    font-size: 2rem;
    border-radius: 50px;
    transition: 0.1s ease;
  }
  svg:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.adventageLeft {
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
  div {
    transform: translateX(calc(-100% + 40px));
    div {
      transform: translateX(0%);
    }
  }
  svg {
    background-color: $green;
    color: white;
    padding: 5px;
    font-size: 2rem;
    border-radius: 50px;
    transition: 0.1s ease;
  }
  svg:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.adventageBottom {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(100%, 50%);
  svg {
    background-color: $green;
    color: white;
    padding: 5px;
    font-size: 2rem;
    border-radius: 50px;
    transition: 0.1s ease;
  }
  svg:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

@media (max-width: 1000px) {
  .adventageRight {
    right: 5%;
    top: 15%;
  }
}

@media (max-width: 750px) {
  .adventageBottom,
  .adventageLeft,
  .adventageRight {
    svg {
      font-size: 1.7rem;
    }
  }
}

@media (max-width: 550px) {
  .adventageRight,
  .adventageLeft,
  .adventageBottom {
    position: static !important;
    transform: none;
    div {
      transform: none;
      div {
        transform: none;
      }
    }
  }
}
