.wrapper {
  margin-top: 100px;
  width: 80vw;
  display: flex;
  .products {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
  }
}

@media (max-width: 750px) {
  .wrapper {
    .products {
      margin-left: 20px;
    }
  }
}

@media (max-width: 525px) {
  .wrapper {
    flex-direction: column;
  }
}
