.homeDescription {
  margin-right: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  .priceStart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 1.5rem;
    div {
      padding: 10px;
    }
    :first-child {
      border-right: 1px solid #b9b8ab;
      color: #00b302;
      font-weight: 600;
    }
    :last-child {
      color: rgb(88, 88, 88);
      word-wrap: break-word;
      max-width: 360px;
    }
  }
  .buy {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headTitle {
    color: #011901;
    font-size: 4rem;
    font-weight: 500;
    position: relative;
    .flower {
      position: absolute;
      top: 5px;
      right: 50px;
    }
    .headTitleGreen {
      color: #001d01;
    }
    .headTitleLightGreen {
      color: #00b302;
    }
  }
}
