@import "../../../styles/colors.scss";
.wrapper {
  flex-grow: 1;
  width: 60vw;
  position: relative;
  overflow: visible;
  .imageLeft {
    background-color: $wheat;
    animation: imageLeftXL 2s ease forwards;
    position: absolute;
    width: 150px;
    overflow: visible;
    padding-top: 2px;
    top: 0%;
    overflow: hidden;
    z-index: 1;
  }
  .imageRight {
    background-color: $wheat;
    overflow: visible;
    animation: imageRightXL 2s ease forwards;
    top: 0%;
    width: 150px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
  }
  .description {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
    animation: text 2s ease;
  }
}

@keyframes imageRightXL {
  0% {
    right: calc(50% - 20%);
  }
  100% {
    right: 100px;
  }
}

@keyframes imageLeftXL {
  0% {
    left: calc(50% - 20%);
  }
  100% {
    left: 100px;
  }
}
@keyframes imageRightL {
  0% {
    right: calc(50% - 20%);
  }
  100% {
    right: 0px;
  }
}

@keyframes imageLeftL {
  0% {
    left: calc(50% - 20%);
  }
  100% {
    left: 0px;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .wrapper {
    .imageLeft {
      animation: imageLeftL 2s ease forwards;
    }
    .imageRight {
      animation: imageRightL 2s ease forwards;
    }
  }
}

@media (max-width: 1100px) {
  .wrapper {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  .wrapper {
    width: 100vw;
  }
}

@media (max-width: 650px) {
  .wrapper {
    .imageLeft {
      width: 100px;
    }
    .imageRight {
      width: 100px;
    }
    .description {
      height: 250px;
    }
  }
}

@media (max-width: 470px) {
  .wrapper {
    .imageLeft {
      top: -20%;
    }
    .imageRight {
      top: -20%;
    }
    .description {
    }
  }
}

@media (max-width: 410px) {
  .wrapper {
    .imageLeft {
      top: -30%;
      width: 80px;
    }
    .imageRight {
      top: -30%;
      width: 80px;
    }
    .description {
      height: 200px;
    }
  }
}

@media (max-width: 310px) {
  .wrapper {
    .imageLeft {
      width: 60px;
    }
    .imageRight {
      width: 60px;
    }
    .description {
    }
  }
}
