.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  .homeDescription {
    .headTitle {
      color: #011901;
      font-size: 4rem;
      font-weight: 500;
      overflow: hidden;
      position: relative;
      .flower {
        position: absolute;
        bottom: -10px;
        right: 50px;
      }
      .headTitleGreen {
        color: #001d01;
      }
      .headTitleLightGreen {
        color: #00b302;
      }
    }
  }
  .image {
    margin-left: 80px;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff742;
    border-radius: 50%;
    border: 1px solid white;
    span {
      overflow: visible !important;
    }
    .cactus {
      position: absolute;
      transform: rotate(10deg) translate(-15px) scale(1.5);
      span {
        overflow: visible;
      }
    }
  }
}
