.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 70px;
  margin-top: 0px;
  .homeDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .priceStart {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      font-size: 1.3rem;
      div {
        padding: 10px;
      }
      :first-child {
        border-right: 1px solid #b9b8ab;
        color: #00b302;
        font-weight: 600;
      }
      :last-child {
        word-wrap: break-word;
        max-width: 300px;
      }
    }
    .buy {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .headTitle {
      color: #011901;
      font-size: 4rem;
      font-weight: 500;
      overflow: hidden;
      position: relative;
      .flower {
        position: absolute;
        bottom: -5px;
        right: 90px;
      }
      .headTitleGreen {
        color: #001d01;
      }
      .headTitleLightGreen {
        color: #00b302;
      }
    }
  }
  .image {
    margin-left: 80px;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff742;
    border-radius: 50%;
    border: 1px solid white;
    span {
      overflow: visible !important;
    }
    .cactus {
      position: absolute;
      transform: rotate(10deg) translate(-15px) scale(1.5);
      span {
        overflow: visible;
      }
    }
  }
  .pros {
    margin-left: 80px;
    .pro {
      -webkit-box-shadow: 10px 14px 30px -28px rgba(66, 68, 90, 1);
      -moz-box-shadow: 10px 14px 30px -28px rgba(66, 68, 90, 1);
      box-shadow: 10px 14px 30px -28px rgba(66, 68, 90, 1);
    }
    div {
      background-color: white;
      padding: 0px;
      padding-left: 8px;
      font-size: 1.2rem;
      padding-right: 8px;
      border-radius: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 25px;
      margin-top: 25px;
      svg {
        color: #fe4b24;
        border-radius: 50px;
        background-color: #ffefe7;
      }
      a {
        color: #9d9d9d;
      }
      p {
        font-weight: 600;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
}
