@import "../../../styles/colors.scss";
.wrapper {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 80px;
  margin-left: 90px;
  margin-right: 180px;
  padding-bottom: 140px;
  flex-grow: 1;
  .image {
    margin-left: 10px;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: $yellow;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    span {
      overflow: visible !important;
    }
    .cactus {
      position: absolute;
      transform: rotate(10deg) translate(-15px) scale(1.5);
      span {
        overflow: visible;
      }
    }
  }
  .pros {
    margin-left: 80px;
  }
}

@media (max-width: 1580px) {
  .wrapper {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 500px;
    .image {
      position: absolute;
      margin-left: 0px;
      width: 400px;
      transform: translate(250px, 200px);
    }
  }
}

@media (max-width: 1400px) {
  .wrapper {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 500px;
    .image {
      position: absolute;
      margin-left: 0px;
      width: 400px;
      transform: translate(150px, 300px);
    }
  }
}

@media (max-width: 1250px) {
  .wrapper {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 500px;
    .image {
      position: absolute;
      margin-left: 0px;
      width: 400px;
      transform: translate(50px, 300px);
    }
  }
}
.imageL {
  display: none;
}

@media (max-width: 1000px) {
  .imageXL {
    display: none;
  }
  .imageL {
    display: flex;
  }
  .wrapper {
    .image {
      padding-left: 10px;
      padding-right: 10px;
      width: 250px;
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    padding-top: 10px;
  }
  .image {
    transform: translate(20px, 200px) !important;
  }
}

@media (max-width: 750px) {
  .image {
    transform: translate(10px, 250px) !important;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    padding-bottom: 450px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    padding-bottom: 350px;
  }
}

@media (max-width: 550px) {
  .adventagesMain {
    display: none;
  }
}
@media (max-width: 500px) {
  .wrapper {
    padding-bottom: 150px;
  }
  .image {
    transform: translate(20px, 110px) scale(0.8) !important;
  }
}

@media (max-width: 480px) {
  .image {
    transform: translate(20px, 100px) scale(0.7) !important;
  }
}
