@import "../../../styles/colors.scss";
.header {
  font-size: 2.8rem;
  font-weight: 700;
  color: #001d01;
  transition: 0.3s ease;
  margin-right: 80px;
  a {
    color: $green;
  }
}
.header:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: $green;
  a {
    color: #001d01;
  }
}
