@import "../../../styles/colors.scss";
.wrapper {
  margin-left: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .summaryHead {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  a {
    color: $green;
    font-weight: 500;
    border-bottom: 1px solid $green;
  }
  .checkout {
    width: 100%;
    button {
      width: 100%;
      margin-top: 5px;
    }
  }
  .total {
    width: 100%;
    display: flex;
    :first-child {
      color: rgb(71, 71, 71);
    }
    :last-child {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      color: $green;
      font-weight: 600;
    }
    margin-bottom: 15px;
  }
  .summary {
    font-size: 1.4rem;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    .summaryColumn {
      padding-top: 15px;
      display: flex;
      :first-child {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(71, 71, 71);
      }
      :last-child {
        display: flex;
        flex-grow: 1;
        font-weight: 500;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
  .promocodeWrapper {
    margin-top: 10px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 20px;
  }
}
